<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Minhas Transações</title>
</head>
<body>
    <div class="container mt-5">
	<nav class="navbar navbar-expand bg-body-tertiary d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a class="nav-link" href="/lista">Transações</a>
				<a class="nav-link" href="/lista/categoria">Categorias</a>
				<a class="nav-link" href="/lista/orcamento">Orçamentos</a>
			</div>
		</nav>
        <h1 class="display-4 text-center">Minhas Transações</h1>
			<nav class="navbar navbar-expand bg-body-tertiary d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<a th:classappend="${somaOuSubtrai} == null ? 'active'" class="nav-link" href="/lista">Todas</a>
					<a th:classappend="${somaOuSubtrai} == 'soma' ? 'active'" class="nav-link" href="/lista/soma">Positivas</a>
					<a th:classappend="${somaOuSubtrai} == 'subtrai' ? 'active'" class="nav-link" href="/lista/subtrai">Negativas</a>
				</div>
				<a href="/transacao"><button class="btn btn-outline-secondary">Nova</button></a>
			</nav>
	        <form action="/transacao/csv" method="post" enctype="multipart/form-data" class="mt-4 mb-4">
	            <div class="mb-3">
	                <label for="file" class="display-6 form-label">Importar CSV</label>
	                <input type="file" id="file" name="file" accept=".csv" class="form-control">
	            </div>
	            <button type="submit" class="btn btn-outline-secondary col-12">Enviar</button>
	        </form>
			<div class="row">
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item col-3">Data e hora</li>
					<li class="list-group-item col-3">Valor (R$)</li>
					<li class="list-group-item col-3">Descrição</li>
					<li class="list-group-item col-3">Categoria</li>
				</ul>
			</div>
			<div class="row" th:each="transacao : ${transacoes}">
			    <th:block th:if="${transacao.somaOuSubtrai != null}">
			        <th:block th:switch="${transacao.somaOuSubtrai.name()}">
			            <th:block th:case="SOMA">
			                 <a th:href="@{'/transacao/' + ${transacao.id}}"><ul class="list-group list-group-horizontal">
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${transacao.data}">12/07/2023</li>
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${#numbers.formatDecimal(transacao.valor,1,'POINT',2,'COMMA')}">30,00</li>
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${transacao.descricao}">Descrição</li>
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${transacao.categoria.nome}">Categoria</li>
			                </ul></a>
			            </th:block>
			            <th:block th:case="SUBTRAI">
			                <a th:href="@{'/transacao/' + ${transacao.id}}"><ul class="list-group list-group-horizontal">
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${transacao.data}">12/07/2023</li>
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${#numbers.formatDecimal(transacao.valor,1,'POINT',2,'COMMA')}">30,00</li>
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${transacao.descricao}">Descrição</li>
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${transacao.categoria.nome}">Categoria</li>
			                </ul></a>
			            </th:block>
			        </th:block>
			    </th:block>
			    <th:block th:if="${transacao.somaOuSubtrai == null}">
			        <ul class="list-group list-group-horizontal">
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.data}">12/07/2023</li>
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.valor}">30,00</li>
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.descricao}">Descrição</li>
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.categoria.nome}">Categoria</li>
			        </ul>
			    </th:block>
			</div>

		</div>
	</body>
</html>