<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>FinView :: Minhas Transações</title>
</head>
<body>
    <div class="container mt-5">
	<nav class="navbar navbar-expand bg-body-tertiary d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="/lista">Transações</a>
				<a class="nav-link" href="/lista/categoria">Categorias</a>
				<a class="nav-link" href="/lista/orcamento">Orçamentos</a>
				<a class="nav-link" href="/impexp">Importar/Exportar</a>
			</div>
		</nav>
        <h1 class="display-4 text-center">Minhas Transações</h1>
			<nav class="navbar navbar-expand bg-body-tertiary d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<form th:action="@{/lista}" method="get">
					    <div class="form-group">
					        <label for="categoriaDropdown">Categoria</label>
					        <select class="form-control" id="categoriaDropdown" name="categoria">
					            <option value="all">Todas</option>
					            <option th:each="categoria : ${categorias}" th:value="${categoria.nome}" th:text="${categoria.nome}"></option>
					        </select>
					    </div>					    
					    <button type="submit" class="btn btn-outline-secondary">Filtrar</button>
					</form>
				</div>
				<a href="/transacao"><button id="nova-transacao" class="btn btn-outline-secondary">Nova</button></a>
			</nav>
			<div class="row">
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item col-3">Data e hora</li>
					<li class="list-group-item col-3">Valor (R$)</li>
					<li class="list-group-item col-3">Descrição</li>
					<li class="list-group-item col-3">Categoria</li>
				</ul>
			</div>
			<div class="row" th:each="transacao : ${transacoes}">
			    <th:block th:if="${transacao.somaOuSubtrai != null}">
			        <th:block th:switch="${transacao.somaOuSubtrai.name()}">
			            <th:block th:case="SOMA">
			                 <a th:href="@{'/transacao/' + ${transacao.id}}"><ul class="list-group list-group-horizontal">
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${transacao.data}">12/07/2023</li>
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${#numbers.formatDecimal(transacao.valor,1,'POINT',2,'COMMA')}">30,00</li>
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${transacao.descricao}">Descrição</li>
			                    <li class="list-group-item col-3 list-group-item-info" th:text="${transacao.categoria.nome}">Categoria</li>
			                </ul></a>
			            </th:block>
			            <th:block th:case="SUBTRAI">
			                <a th:href="@{'/transacao/' + ${transacao.id}}"><ul class="list-group list-group-horizontal">
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${transacao.data}">12/07/2023</li>
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${#numbers.formatDecimal(transacao.valor,1,'POINT',2,'COMMA')}">30,00</li>
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${transacao.descricao}">Descrição</li>
			                    <li class="list-group-item col-3 list-group-item-danger" th:text="${transacao.categoria.nome}">Categoria</li>
			                </ul></a>
			            </th:block>
			        </th:block>
			    </th:block>
			    <th:block th:if="${transacao.somaOuSubtrai == null}">
			        <ul class="list-group list-group-horizontal">
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.data}">12/07/2023</li>
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.valor}">30,00</li>
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.descricao}">Descrição</li>
			            <li th:href="@{'/transacao/' + ${transacao.id}}" class="list-group-item col-3" th:text="${transacao.categoria.nome}">Categoria</li>
			        </ul>
			    </th:block>
			</div>
		</div>
		<script>
		    document.addEventListener("DOMContentLoaded", function () {
		        const categoryDropdown = document.getElementById("categoryDropdown");
		        const dropdownItems = document.querySelectorAll(".dropdown-item[data-category]");
		
		        dropdownItems.forEach(function (item) {
		            item.addEventListener("click", function (event) {
		                event.preventDefault();
		                const selectedCategory = item.getAttribute("data-category");
		                filterTransactions(selectedCategory);
		            });
		        });
		
		        function filterTransactions(category) {
		            const transactionRows = document.querySelectorAll(".row.th\\:each");
		            transactionRows.forEach(function (row) {
		                const transactionCategory = row.getAttribute("data-category");
		                if (category === "all" || category === transactionCategory) {
		                    row.style.display = "block";
		                } else {
		                    row.style.display = "none";
		                }
		            });
		        }
		    });
		</script>

	</body>
</html>